.header-container {
  background-color: #cf60c8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 10vh;
  padding-inline: 40px;
}

.logo {
  height: 40px;
}

.score {
  display: flex;
  align-items: center;
  font-size: 20px;
  list-style: none;
  color: white;
}
.score-val {
  color: yellow;
  font-size: 25px;
  font-weight: bold;
  margin-left: 5px;
}

.score > p {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.timer {
  display: flex;
  align-items: center;
}

.timer-image {
  height: 40px;
  margin-left: 15px;
}

.timer-sec {
  color: yellow;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 6px;
}
.timer-sec > span {
  color: white;
  font-size: 16px;
  margin-left: 6px;
}
@media screen and (max-width: 576px) {
  .logo {
    height: 30px;
  }
  .timer > p > span {
    font-size: 18px;
  }
  .timer > p {
    font-size: 16px;
  }
  .timer-image {
    height: 30px;
  }
  .score > p {
    font-size: 16px;
  }
  .score > p > span {
    font-size: 18px;
  }
}
